.row
  .col-md-12
    h1 About us
.row
  .col-md-4
    p
      ' Duis vel nibh at velit scelerisque suscipit. Nam eget dui. Mauris turpis
      ' nunc, blandit et, volutpat molestie, porta ut, ligula. Vestibulum eu odio.
      ' Duis vel nibh at velit scelerisque suscipit.
    p
      ' Nulla porta dolor. Vestibulum rutrum, mi nec elementum vehicula, eros quam
      ' gravida nisl, id fringilla neque ante vel mi. Praesent metus tellus,
      ' elementum eu, semper a, adipiscing nec, purus. Nam pretium turpis et arcu.
      ' Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc,
      ' vitae euismod ligula urna in dolor.
    p
      ' Phasellus consectetuer vestibulum elit. Sed hendrerit. Phasellus viverra
      ' nulla ut metus varius laoreet. Etiam iaculis nunc ac metus. Praesent ac
      ' massa at ligula laoreet iaculis.
  .col-md-4
    p
      ' Curabitur nisi. Vestibulum eu odio. Donec vitae orci sed dolor rutrum
      ' auctor. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
      ' Cras dapibus.
    p
      ' Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat,
      ' pede. Phasellus magna. Maecenas nec odio et ante tincidunt tempus.
      ' Praesent nonummy mi in odio. Suspendisse nisl elit, rhoncus eget,
      ' elementum ac, condimentum eget, diam.
    p
      ' Donec venenatis vulputate lorem. Proin viverra, ligula sit amet ultrices
      ' semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros.
      ' Curabitur suscipit suscipit tellus. Curabitur nisi. Vestibulum ullamcorper
      ' mauris at ligula.
  .col-md-4
    p
      ' Donec id justo. Morbi nec metus. Nam adipiscing. Vestibulum fringilla pede
      ' sit amet augue. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie
      ' vel, lacus.
    p
      ' Vestibulum fringilla pede sit amet augue. Donec venenatis vulputate lorem.
      ' Praesent congue erat at massa. Aliquam eu nunc.
    p
      ' Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id
      ' fringilla neque ante vel mi. Praesent porttitor, nulla vitae posuere
      ' iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Vivamus
      ' euismod mauris. Sed fringilla mauris sit amet nibh. Sed augue ipsum,
      ' egestas nec, vestibulum et, malesuada adipiscing, dui.
